
* {
  box-sizing: border-box;
}

body {
  background-color: #F72c25;
}
h1{
  
  position: relative;
  font-family: 'Chewy', cursive;
  font-size: 8rem;
  margin-bottom: 10px;
  text-align: center;
  color: white;
  text-shadow: 5px 5px 15px rgba(0,0,0,.25);
}

#container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.question {
  background-color: white;
  padding: 30px;
  box-shadow: 5px 5px 5px #666;
  text-align: center;
}

label {
  font-family: 'Chewy', cursive;;
  font-size: 25px;
}

input {
  display: block;
  width: 100%;
  margin-top: 15px;
  text-align: center;
  padding: 0 15px;
  font-size: 25px;
  border-left-color: transparent;
  border-right-color: transparent;
  border-top-color: transparent;
  border-bottom-color: #333;
  font-family: 'Chewy', cursive;;
}

button {
  border: 3px solid blue;
  border: none;
  color: black;
  padding: 15px 32px;
  margin: 10px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
}

button:hover{
  background-color: #4CAF50; /* Green */
  font-weight: bold;
}